.list-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  font-family: 'roboto';
  flex-grow: 1;
}
li {
  list-style-type: none;
  padding: 0px;
}
.post-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.title-heading {
  font-size: 15px;
  color: black;
}
.date-text {
  color: #9aa5b1;

  font-size: 15px;
}
.description-text {
  color: #9aa5b1;

  font-size: 15px;
}
hr {
  width: 100%;
  color: #9aa5b1;
}
